*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#test{
    background-color: aqua;
}


.parent{

    width: 500px;
    height: 400px;
    background-color: rgb(232, 221, 11);
}

.child{

    width:50%;
    height: 50%;
    background-color: rgb(123, 0, 255);
}