*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent{

    background-color: rgba(35, 234, 55, 1);
    height: 600px;
    width: 400px;
    margin: 20px 30px 20px 30px;
    padding: 20px 30px 20px 30px;
    border-color: 3px  black;
    border-style: solid;
}

